<ActionBar title="My App" class="action-bar">
        
</ActionBar>

<StackLayout class="page">
    <TextField hint="Name" [(ngModel)]="name"></TextField>
    <TextField hint="Role" [(ngModel)]="role"></TextField>
    <Button text="Save" color="white" (tap)="name !== '' && role !== '' && save()" [ngClass]="{'btn-available' : name !== '' && role !== ''}"></Button>
    <ListView [items]="items" class="list-group">
            <ng-template let-item="item">
                <StackLayout orientation="horizontal">
                    <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"
                        class="list-group-item" width="90%" horizontalAlignment="left">
                    </Label>
                    <Button text="X" (tap)="delete(item.id)" width="10%"
                    backgroundColor="#db536c" color="white" horizontalAlignment="right"></Button>
                </StackLayout>
            </ng-template>
    </ListView>
</StackLayout>
